h2, p {
  color: #E4572E;
  font-family: 'Rokkitt', serif;
  font-size: 1.5em;
  margin: 0;
}

h2 {
  background-color: #2274A5;
  color: #F6F7EB;
  display: flex;
  flex-direction: column;
  font-size: 1.5em;
  text-shadow: 1px 1px 5px black;
  width: 100%;
}
h3 {
  margin-bottom: 0;
}

#area{
  margin-top: 20px;
}

.main-form {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 20px;
}

.forms {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.map-area {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.user-page {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.input-field {
  background-color: #FFFFFF;
  border: 1px solid #2274A5;
  box-shadow: 1px 1px 5px #2274A5;
  color: #2274A5;
  font-family: 'Rokkitt', serif;
  font-size: 2em;
  height: 50px;
  margin: 10px 0;
  padding: 5px;
  width: 250px;

}

.form-button {
  background-color: #2274A5;
  border-radius: 15px;
  color: #FFFFFF;
  transition-duration: 1s;
  width: 300px;
}

.form-button:hover {
  border-color: #FFBF00;
  background-color: #FFBF00;
  color: #2274A5;
  cursor: pointer;
  transition-duration: 1s;
}

.refresh {
  background-color: #393E41;
  border-color: #393E41;
  transition-duration: .5s;
}

.refresh:hover {
  background-color: #FFBF00;
  border-color: #FFBF00;
  color: #393E41;
  transition-duration: .5s;
}

.loading-screen {
  background-image: url('./assets/fork.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.loading {
  opacity: .6;
}

.food-image {
  height: 100px;
  width: 100%;
}

Iframe {
  border: 1px solid black;
}

.moreinfo-rest {
  background-color: #AFD5AA;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  flex-direction: column;
  margin-top: 25px;
  width: 900px;
}
