.App {
  align-items: center;
  background-color: #F6F7EB;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
body {
  background-color: #F6F7EB;
}

h1{
  color: #F6F7EB;
  font-family: 'Rokkitt', serif;
  margin: 0;
  text-shadow: 1px 1px 5px black;
  transition-duration: 1s;
}

.nav-bar {
  background-color: #2274A5;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 0;
  width: 900px;
}

.nav {
  color: #F6F7EB;
  /*display: flex;
  flex-direction: row;*/
  font-family: 'Rokkitt', serif;
  font-size: 2em;
  margin: 10px 20px 10px 0;
  text-decoration: none;
  text-shadow: 1px 1px 5px black;
  transition-duration: 1s;
}

h1:hover,
.nav:hover {
  color: #FFBF00;
  transition-duration: 1s;
}

.welcome-page {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.card-container {
  align-items: center;
  /*background-image: url('./components/assets/fork.svg');*/
  /*background-position: top;
  background-repeat: repeat-y;*/
  background-color: #E94F37;
  background-size: contain;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 900px;
}

@keyframes dissolve {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.food-card {
  animation-name: dissolve;
  animation-duration: 3s;
  animation-iteration-count: 1;
  background-color: #F6F7EB;
  height: 220px;
  margin: 10px;
  padding-bottom: 5px;
  width: 270px;
}

.food-card:hover {
  border: 3px solid #FFBF00;
  height: 214px;
  width: 264px;
  opacity: 1;
}

.left-nav{
  display: flex;
  flex-direction: row;
  margin-left: 20px;
}

.right-nav {
  align-items: center;
  display: flex;
  flex-direction: row;
  margin-right: 20px;
}

.icon {
  background-image:url('./components/assets/white-fork.svg');
  background-position: left;
  background-repeat: no-repeat;
  background-size: contain;
  height: 50px;
  margin: 20px 10px 0;
  width: 50px;
}
